:root {
    --green-color: #00c899;
    --primary-color: #FC556F;
    --secondary-color: #FD9C84;
    --gradient-color: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  }
  
  html {
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    background-color: #f3faff;
    padding: 2rem;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  .post {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .post__left, .post__right {
    width: calc(50% - 1rem);
  }

  .post__media {
    height: 25rem;
    position: relative;
    margin-bottom: 3.5rem;
  }

  .post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  .post__category {
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    background-image: var(--gradient-color);
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
  }

  .post__icon {
    width: 5rem;
    height: 5rem;
    /* cho icon vào giữa */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    color: white;
    background-image: var(--gradient-color);
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
    transform: translateY(50%);
    z-index: 2;
  }

  .post-author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #333;
    font-size: 1.4rem;
  }

  .post-author__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    object-fit: cover;
    margin-right: 1rem;
  }

  .post__date {
    position: relative;
    margin-left: 2.5rem;
    padding-left: 2.5rem;
  }
  
  .post__date::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 1rem;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }