:root {
  --green-color: #00c899;
  --primary-color: #fc556f;
  --secondary-color: #fd9c84;
  --gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: #f3faff;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input, select, textarea, button {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
} 
/*
button {
  cursor: pointer;
}

input:focus {
  border: 1px solid red;
} */

textarea {
  /* không cho phép người dùng kéo textarea */
  resize: none;
}

/* giúp ẩn giá trị tăng lên, tăng xuống của giá trị number*/
input[title="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Custom checkbox */
.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
  visibility: visible;
}

.checkbox {
  margin: 5rem;
}

.checkbox__label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fc556f;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 1rem;
}

.checkbox__label::after {
  position: absolute;
  content: "";
  top:0;
  left:1rem;
  width: 2rem;
  height: 1rem;
  transform: rotate(-45deg);
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  opacity: 0;
  visibility: hidden;
  transform: 0.25s linear;
}


/* Custom radio */
.radio {
  margin: 5rem;
}

.radio__label {
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
}

.radio__input {
  display: none;
}

.radio__input:checked + .radio__label::before {
  background-color: #fc556f;
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #fc556f;
}

.radio__label::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
  background-color: #eee;
  box-shadow: 0 0 0 4px #eee, 0 0 0 6px #b7c1cb;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.25s linear;
}


/* Custom file */

.file {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: white;
  position: relative;

}

.file__input {
  display: none;
}

.file__label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
}


/* Custom checkbox toggle */

.checkbox2__input {
  display: none;
}

.checkbox2__label {
  display: inline-block;
  width: 10rem;
  height: 5rem;
  background-color: #eee;
  border-radius: 5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.25s linear;
}

.checkbox2__spin {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 4rem;
  transition: 0.25s linear;
}

.checkbox2__input:checked + .checkbox2__label {
  background-color: #7f6cfa;
}

.checkbox2__input:checked + .checkbox2__label .checkbox2__spin {
  transform: translateX(5rem);
}

/* Custom input, textarea, button */

.input-style {
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #b7c1cb;
  color: #0e1e35;
  font-size: 1.6rem;
  outline: none;
  transition: all 0.25s linear;
  box-shadow: 0 0 0 2px #ffe1de;
  resize: none;
}

.input-style::-webkit-input-placeholder {
  color: #b7c1cb;
}

.input-style:focus {
  border-color: #ff695a;
}


.button-style {
  padding: 2rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #fd607d;
  transition: all 0.25s linear;
  box-shadow: 0 5px 0 0 #8f2c3e;
}

.button-style:hover {
  background-color: #ffe1de;
  color: #fd607d ;
}

.button-style:active {
  transform: translateY(1rem);
  box-shadow: 0 2px 0 0 #8f2c3e;
}