html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
    height: 2000px;
}

img {
    display: block;
    max-width: 100%;
}

.image__list{
    display: flex;
    /* justify-content: space-between; */
    margin: 5rem 0 0 -1rem;
}

.image__item{
    width: 25%;
    margin-left: 1rem;
    border-radius: 4px;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxed{
    /* width: 5rem;
    height: 5rem; */
    display: inline-block;
    /* background-color: black; */
    margin: 2rem auto;
    /* border-left: 10px solid red;
    border-right: 10px solid blue;
    border-top: 10px solid orange;
    border-bottom: 10px solid purple; */

    /* tam giác bên dưới */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid orange;
}