html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
    height: 2000px;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: white;
    width: 100%;
    height: 100vh;
}

.modal {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.282);
}

.modal-content {
    width: 90%;
    height: 90%;
    background-color: white;
    padding: 5rem;
    position: absolute;
    /* căn ra giữa */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


.video {
    width: 500px;
    height: 500px;
    position: relative;
}

.video-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-icon {
    color: wheat;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card {
    width: 20rem;
    height: 60rem;
    background-color: black;
    position: relative;
}

.sale {
    color: wheat;
    padding: 5px;
    background-color: orange;
    border-radius: 1rem;
    font-size: 1.2rem;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 2;
}


.bar {
    width: 30rem;
    height: 1rem;
    background-color: #ccc;
    margin: 5rem auto 0;
    border-radius: 2rem;
    position: relative;
}

.bar-progress {
    height: 100%;
    width: 50%;
    /* kế thừa từ thằng cha*/
    border-radius: inherit;
    background-color: green;
}

.bar-circle{
    width: 2rem;
    height: 2rem;
    background-color: green;
    border-radius: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}