html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
    height: 2000px;
}

img {
    display: block;
    max-width: 100%;
}

/* .title::before{
    content: "Toi ten la: ";
}

.title::after{
    content: " Hoc HTML, CSS";
} */

.title{
    position: relative;
    padding-left: 2rem;
    margin: 5rem;
    font-size: 3rem;
    font-weight: bold;
}

.title::before{
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    
}

/* pseudo phần 2 */
.line{
    text-align: center;
    position: relative;
}

.line::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: orange;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}

.line-text{
    display: inline-block;
    padding: 10px;
    background-color: white;
    position: relative;
    z-index: 2;
}

/* Pseudo phần 3 */
.icon{
    width: 5rem;
    height: 5rem;
    border-radius: 4px;
    color: red;
    /* background-color: rgba(255, 0, 0, 0.164); */
    position: relative;
    margin: 5rem auto;
}

.icon::after{
    content: "";
    border-radius: inherit;
    /* Current color nó sẽ màu chữ của nó hoặc thằng cha chứa nó.*/
    background-color: currentColor;
    opacity: 0.25;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.icon-user{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Pseudo phần 4 */

.effect{
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    background-color: white;
    border: 1px solid orange;
    margin: 5rem;
    transition: color 0.25s linear;
    position: relative;
    z-index: 1;
}
.effect::before{
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    z-index: -1;
    transition: all 0.25s linear;
}

.effect:hover::before{
    width: 100%;
}

.effect:hover{
    color: white;
}

/* lưu ý khi làm việc với before và after khi làm việc với transform */
.boxed{
    width: 10rem;
    height: 10rem;
    position: relative;
}

.boxed::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    transform: rotate(45deg);
    z-index: -1;
}

/* Thực hành với Animation */
.animation{
    width: 5rem;
    height: 5rem;
    background-color: red;
    /* transform: translateX(10rem); */

    /* sử dụng animation */
    animation-name: move;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation-fill-mode: backwards;

    animation: move 2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s infinite alternate backwards;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(20rem);
    }
}