:root {
    --primary-color: #00aefd;
    --secondary-color: #ffa400;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, #00aefd 30%, #ffa400 50%);
    cursor: pointer;
    /* Opacity vẫn chiếm diện tích, có thể nhấn vào được */
    opacity: 0.5;
    
    /* Visibility vẫn chiến diện tích, nhưng KHÔNG nhấn vào được */
    visibility: hidden;

    /* display: none thì biến mất, ko chiếm diện tích, KHÔNG NHẤN VÔ ĐƯỢC. */
    display: none;
    
    /*
    direction: to right, to left, to bottom, to top.
    to right bottom, to left bottom, to left top, to right top.
    120deg
    color1
    color2

    */
}

.title {
    font-weight: bold;
    font-size: 3rem;
    background-image: linear-gradient(to right bottom, var(--primary-color) 30%, var(--secondary-color) 50%);
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    color: transparent;
    
    -webkit-background-clip: text;
    background-clip: text;
}

/* @supports(-webkit-background-clip: text){
    .title {

    }
} */


.background2 {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(0, 173, 253, 0.822) 30%, rgba(255, 166,0,0.761) 50%), url('https://images.unsplash.com/photo-1646183524322-19dc884efb25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
}

.shadow {
    width: 20rem;
    height: 20rem;
    background-color: black;
    margin: 5rem auto;
    box-shadow: inset 17px -11px 9px 7px rgba(0, 173, 253, 0.822);
    /* box-shadow: x y blur scale  color
        giá trị của x y blur scale có thể là px
        inset là tạo độ bóng bên trong, outset (giá trị mặc định) là tạo độ bóng bên ngoài

        Làm tương tự với text.
    */
}


h2 {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
}

h2 {
    color: blue !important;
}

ul {
    font-size: 4rem;
    font-weight: bold;
}

li:first-child {
    color: red;
}

li:last-child {
    color: orange;
}

li:nth-child(2){
    color: purple;
}

li:nth-child(7){
    color: antiquewhite;
}

li:nth-last-child(2){
    color: yellow;
}

li:not(:first-child){
    color: greenyellow;
}

li:not(:last-child){
    color: brown;
}

li:nth-child(odd){
    color: turquoise;
}

li:nth-child(even){
    color: blue;
}

li:nth-child(2n+1){
    color: red;
}

h3 + .title {
    color: green;
}

.boxed2 {
    width: 20rem;
    height: 20rem;
    background-color: red;
    display: none;
    /* transition: background-color 0.2s linear, color 0.2s ease; */
    
    transition: all 0,2s linear;
    
    /* transition: background-color 2s linear;
    transition-delay: 2s; */
    /* transition: property timer(2s) easing */
}

.boxed2:hover {
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
}