html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

.boxed {
    width: 20rem;
    height: 20rem;
    background-image: linear-gradient(to right bottom, #00aefd 30%, #ffa400 50%);
    cursor: pointer;
    /* Opacity vẫn chiếm diện tích, có thể nhấn vào được */
    opacity: 0.5;
    
    /* Visibility vẫn chiến diện tích, nhưng KHÔNG nhấn vào được */
    visibility: hidden;

    /* display: none thì biến mất, ko chiếm diện tích, KHÔNG NHẤN VÔ ĐƯỢC. */
    display: none;
    
    /*
    direction: to right, to left, to bottom, to top.
    to right bottom, to left bottom, to left top, to right top.
    120deg
    color1
    color2

    */
}

.title {
    font-weight: bold;
    font-size: 3rem;
    background-image: linear-gradient(to right bottom, #00aefd 30%, #ffa400 50%);
    display: inline-block;
    margin-top: 2rem;
    margin-left: 2rem;
    color: transparent;
    
    -webkit-background-clip: text;
    background-clip: text;
}

@supports(-webkit-background-clip: text){
    .title {

    }
}


.background2 {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(0, 173, 253, 0.822) 30%, rgba(255, 166,0,0.761) 50%), url('https://images.unsplash.com/photo-1646183524322-19dc884efb25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
}