:root {
    --green-color: #00c899;
    --primary-color: #fc556f;
    --secondary-color: #fd9c84;
    --gradient-color: linear-gradient(
      to right,
      var(--primary-color),
      var(--secondary-color)
    );
  }
  
  html {
    font-size: 62.5%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    background-color: #f3faff;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  input, select, textarea, button {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
  } 